.top-head {
    display: flex;
    justify-content: center;
}

.crew {
    padding-right: 120px;
    margin-top: 50px;
    font-weight: bold;
    font-size: large;
    font-family: 'PT Serif', serif;
    margin-left: 150px;

}

.who-1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    color: black;
    padding-right: 200px;
}

.who-2 {
    font-family: 'PT Serif', serif;
    font-weight: lighter;
    font-size: smaller;
}

.grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: center;
   align-items: center;
   border: 1px;
   grid-gap: 10px;
}

.pictures {
    height: 300px;
    width: 200px;
}

.pic-1 {
    padding-left: 400px;
}

.pic-2 {
    padding-right: 400px;
}

.pic-3 {
    padding-left: 50px;
    padding-right: 50px;


}

.down {
    margin-top: 200px;

}

.who {
    padding-right: 150px;
}

.foot {
    margin: auto;
    text-align: center;
}

.vertical {
    position: relative;
    transform: rotate(90deg);
}

.bill {
    left: 320px;
    bottom: 50px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: x-small;
}

.sarah {
    left: 120px;
    top: 160px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: x-small;
}

.shea {
    top: 350px;
    right: 80px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: x-small;
}

.skylah {
    left: 320px;
    bottom: 45px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: x-small;
}

.griff {
    left: 120px;
    top: 160px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: x-small;
}

.stan {
    top: 350px;
    right: 80px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: x-small;

}







    



